{% extends "layout.html" %}

{% block head %}
{% endblock %}
{% block title %}Relatorios{% endblock %}

{% block content %}

<div class="container">
    <div class="d-grid gap-4 col-16 mx-auto">
        <a class="btn btn-secondary btn-lg btn-block" href="/relatorios/vendas" role="button">Relatórios de vendas</a>
        <a class="btn btn-secondary btn-lg btn-block" href="/relatorios/compras" role="button">Relatórios de compras</a>
        <a class="btn btn-secondary btn-lg btn-block" href="/relatorios/estoque" role="button">Relatórios de estoque de cortes</a>
    </div>
</div>
{% endblock %}
