{% extends "layout_home.html" %}

{% block head %}
{% endblock %}
{% block title %}Açougue São José{% endblock %}

{% block content %}
        <div class="container">
            <div class="d-grid gap-4 col-16 mx-auto">
                <a class="btn btn-secondary btn-lg btn-block" href="/vendas" role="button">Vendas</a>
                <a class="btn btn-secondary btn-lg btn-block" href="/compras" role="button">Compras</a>
                <a class="btn btn-secondary btn-lg btn-block" href="/cortes" role="button">Cortes</a>
                <a class="btn btn-secondary btn-lg btn-block" href="/relatorios" role="button">Relatórios</a>
            </div>
        </div> 
{% endblock %}